.logo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: float;
    transform: translate(-50%, -50%);
    font-size: 35px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
   
    text-shadow: 8px 8px #fffdfd, 13px 13px #1D4350;
  }